NODE_ENV=production
PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=unicep_prod_db
DB_USER=unicep_user
DB_PASSWORD=Vamosrecio02
JWT_SECRET=3386e86a8a007950f8fb65c27bc17b350338ed818130e6cca5caa7e8a7d33349
JWT_EXPIRES_IN=8h
CORS_ORIGIN=https://unicepmerida.com,https://www.unicepmerida.com
CSP_STRICT=true
CSP_SCRIPT_SRC='self','unsafe-eval'
CSP_STYLE_SRC='self','unsafe-inline'
CSP_IMG_SRC='self',data:,https:
CSP_FONT_SRC='self',data:
CSP_CONNECT_SRC='self',https:,wss:
CSP_REPORT_URI=